// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: TT Commons;
  font-style: "normal";
  font-weight: 500;
  src: url(assets/fonts/TTCommons-Medium.ttf);
}
