// -----------------------------------------------------------------------------
// This file contains all styles related to the Articles page
// -----------------------------------------------------------------------------

.article {
  background: $white;
  padding: 34px 0 45px;
  margin-top: -1px;
  @include mq("tablet") {
    padding: 100px 0 60px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-meta {
    width: 100%;
    max-width: 640px;
    margin: auto;
    color: $orange;
    @include mq("tablet") {
      width: 34.5%;
      max-width: 180px;
      margin: initial;
    }
    &__date {
      font-size: 23px;
      line-height: 1.025;
      padding-bottom: 13px;
      border-bottom: 1.5px solid $orange;
    }
    &__field {
      padding: 16px 0 12px;
      border-bottom: 1.5px solid $orange;
    }
    &__player {
      position: relative;
      width: 100%;
      // height: 316px;
      height: auto;
      margin: auto;
      margin-bottom: 90px;
      line-height: 0;
      @include mq("phone-small") {
        width: 316px;
      }
      @include mq("tablet") {
        width: 235px;
        height: 235px;
      }
      @include mq("desktop-small") {
        width: 296px;
        height: 296px;
      }
      img {
        width: 100%;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // &:not(:first-child) {
        //   cursor: pointer;
        // }
      }
      .progress-container {
        // position: absolute;
        // left: 0;
        // bottom: -30px;
        // width: 100%;
        // height: 3px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 22px;
        height: 68px;
        background-color: $orange;
      }
      .progress-wrapper {
        position: relative;
        width: 80%;
        background-color: black;
        height: 3px;
      }
      .button-wrapper {
        position: relative;
        width: 21px;
        height: 24px;
        cursor: pointer;
        .meta-play {
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 1;
          visibility: visible;
          @extend .transition;
        }
        .meta-stop {
          width: 100%;
          height: 100%;
          position: absolute;
          visibility: hidden;
          opacity: 0;
          @extend .transition;
        }
      }
      .progress {
        position: absolute;
        width: 1px;
        height: 3px;
        background: $white;
        transition: width 0.1s linear;
      }
      .cursor {
        position: absolute;
        top: 50%;
        left: 0;
        width: 12px;
        height: 12px;
        background-color: $white;
        transform: translate(-50%, -50%);
        transition: width 0.1s linear;
      }
      &.active {
        .meta-play {
          visibility: hidden;
          opacity: 0;
          @extend .transition;
        }
        .meta-stop {
          visibility: visible;
          opacity: 1;
          @extend .transition;
        }
      }
    }
    &__share__items {
      margin-top: 16px;
      display: flex;
      margin-bottom: 32px;
      @include mq("tablet") {
        margin-bottom: 0;
      }
    }
    &__share__item {
      padding-right: 13px;
      a {
        display: inline-block;
        @extend .transition;
        &:hover {
          transform: scale(1.2);
          @extend .transition;
        }
      }
    }
  }
  &-content {
    width: 100%;
    font-family: Roboto;
    @include mq("tablet") {
      width: 65.5%;
    }

    h5 {
      color: $orange;
      font-weight: 300;
      padding-bottom: 40px;
      margin: auto;
      max-width: 640px;
      @include mq("tablet") {
        margin: initial;
        padding-bottom: 50px;
      }
    }
    q {
      position: relative;
      max-width: 550px;
      width: 100%;
      display: inline-block;
      font-size: 20px;
      line-height: 1.315;
      color: $orange;
      font-weight: 300;
      padding-bottom: 40px;
      padding-left: 40px;
      margin-left: 0;
      &::before {
        position: absolute;
        content: "";
        background-image: url("./assets/images/comment.png");
        background-repeat: no-repeat;
        top: 10px;
        background-size: cover;
        width: 26px;
        height: 26px;
        left: 0;
        @include mq("tablet") {
          left: -85px;
          width: 47px;
          height: 47px;
        }
      }
      @include mq("tablet") {
        margin-left: -6vw;
        width: calc(100% + 6vw);
        font-size: 28px;
        padding-bottom: 50px;
        padding-left: 0;
      }
    }
    p {
      font-size: 16px;
      line-height: 1.405;
      letter-spacing: 0.015em;
      max-width: 640px;
      margin: auto;
      margin-bottom: 20px;
      @include mq("tablet") {
        font-size: 18px;
        max-width: 620px;
        margin: initial;
        margin-bottom: 20px;
      }
    }
    &__paragraph {
      padding-bottom: 20px;
      @include mq("tablet") {
        padding-bottom: 30px;
      }
    }
    &__img {
      padding-bottom: 40px;
      max-width: 640px;
      margin: auto;
      @include mq("tablet") {
        max-width: initial;
        margin: initial;
        padding-bottom: 50px;
      }
    }
    &__statistics {
      font-family: "TT Commons";
      font-size: 46px;
      color: $orange;
      max-width: 640px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      line-height: 0.989;
      font-weight: 500;
      padding-bottom: 0;
      margin: auto;
      @include mq("tablet") {
        max-width: 620px;
        padding-bottom: 10px;
        margin: initial;
      }
      @include mq("desktop-small") {
        font-size: 54px;
      }
      span {
        position: relative;
        padding-top: 15px;
        padding-bottom: 40px;
        &:first-child {
          width: 29%;
          &::before {
            transition-delay: 0.25s;
          }
        }
        &::before {
          position: absolute;
          content: "";
          width: 0;
          left: 0;
          top: 0px;
          height: 3px;
          background-color: $orange;
          transition-delay: 0.5s;
          opacity: 0;
          @extend .cubic-transition;
        }
      }
      &.active {
        span {
          &::before {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
    &__reasons {
      max-width: 640px;
      margin: auto;
      @include mq("tablet") {
        max-width: 580px;
        padding-bottom: 20px;
        margin: initial;
      }
      @include mq("desktop-small") {
        padding-bottom: 60px;
      }
      &-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 34px;
        @include mq("tablet") {
          align-items: center;
          margin-bottom: 53px;
        }
        &:nth-child(2) {
          img {
            width: 62px;
            height: 39px;
            margin-right: 22px;
            margin-top: 6px;
            @include mq("phone") {
              margin-top: 0;
            }
            @include mq("tablet") {
              width: 78px;
              height: 49px;
              margin-right: 25.6px;
            }
          }
        }
        img {
          width: 62px;
          height: 51px;
          margin-right: 24px;
          padding: 0;
          @include mq("tablet") {
            width: 68px;
            height: 57px;
            margin-right: 35.6px;
          }
        }
        p {
          margin: 0;
        }
      }
    }
    &__related {
      max-width: 620px;
      display: flex;
      justify-content: space-between;
      font-family: TT Commons;
      flex-direction: column;
      margin: auto;
      @include mq("phone") {
        flex-direction: row;
      }
      @include mq("tablet") {
        margin: initial;
      }
      p {
        line-height: 1.025;
      }
      a {
        color: $orange;
        display: inline-block;
        padding-bottom: 13px;
      }
    }
    &__media {
      display: flex;
      flex-direction: column;
      font-family: TT Commons;
      line-height: 1.045;
      font-size: 28px;
      text-align: center;
      padding-bottom: 0;
      padding-top: 20px;
      @include mq("tablet") {
        flex-direction: row;
        font-size: 24px;
        text-align: left;
        padding-top: 40px;
      }
      .media-item {
        margin-right: 0;
        margin-bottom: 20px;
        &:nth-child(2) {
          margin-bottom: 0;
        }
        @include mq("tablet") {
          margin-right: 33px;
          margin-bottom: 0;
        }
        a {
          position: relative;
          color: $dark;
          @include menuEffect($orange);
          @include hoverEffect();
        }
      }
    }
    &__contact {
      font-family: TT Commons;
      max-width: 640px;
      margin: auto;
      padding-top: 30px;
      @include mq("tablet") {
        margin: initial;
      }
      a {
        position: relative;
        display: inline-block;
        color: $orange;
        padding-right: 10px;
        @include p-arrow("right");
        @include p-arrowEffect("right");
        h5 {
          padding: 0;
        }
      }
    }
    &__prev {
      order: 1;
      margin-top: 10px;
      @include mq("phone") {
        order: 0;
        margin-top: 100px;
      }
      h5 {
        position: relative;
        padding-left: 10px;
        padding-bottom: 0;
        @include mq("desktop-small") {
          padding-left: 15px;
        }
        @include p-arrow();
        @include p-arrowEffect();
      }
    }
    &__next {
      text-align: right;
      margin-top: 0;
      @include mq("phone") {
        order: 0;
        margin-top: 100px;
      }
      h5 {
        position: relative;
        padding-right: 15px;
        padding-bottom: 0;
        @include p-arrow("right");
        @include p-arrowEffect("right");
      }
    }
  }
  &.vi-page {
    padding: 34px 0 42px;
    @include mq("tablet") {
      padding: 75px 0 60px;
    }
    .article-meta {
      display: none;
      @include mq("tablet") {
        display: block;
        width: 34.5%;
      }
    }
    .article-content {
      width: 100%;
      @include mq("tablet") {
        // margin: auto;
        width: 65.5%;
      }
      @include mq("desktop-small") {
        margin: initial;
      }
    }
  }
  &.about {
    .article-meta {
      max-width: 100%;
      .about-img__wrapper {
        width: 186px;
        height: 186px;
        margin: auto;
        margin-bottom: 34px;
        @include mq("tablet") {
          width: 210px;
          height: 210px;
          margin: initial;
          margin-bottom: 0;
        }
        @include mq("desktop-small") {
          width: 325px;
          height: 325px;
        }
      }
    }
    .article-content {
      h5 {
        // padding-top: 30px;
      }
    }
    @include mq("tablet") {
      padding: 120px 0 120px;
    }
  }
  &.contacts {
    .article-meta {
      display: none;
      @include mq("desktop-small") {
        display: block;
      }
    }
    .article-content {
      margin: auto;
      @include mq("desktop-small") {
        margin: initial;
      }
    }
  }
  &.policy {
    padding: 20px 0 60px;
    .article-content {
      h5 {
        padding: 40px 0;
      }
    }
    @include mq("tablet") {
      padding: 70px 0 60px;
    }
  }
}
